[user]
	name = Peter Lewis
	email = peter.noah.lewis@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = false

[core]
	editor = cursor -w
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false

[diff]
	tool = cursor

[difftool "cursor"]
	cmd = cursor -w --diff $LOCAL $REMOTE

[merge]
	tool = cursor

[mergetool "cursor"]
	cmd = cursor -w $MERGED

[commit]
	template = ~/.gitmessage

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

